// reset
@use "./reset.scss";

// exports
@use "./colors/exports.scss" as colors;
@use "./typography/exports.scss" as typography;
@use "./elevation/exports.scss" as elevation;

body,
[data-theme] {
    background: var(--bkg-color);

    font-family: var(--font-primary);
    font-size: var(--text-base-size);
}

::selection{
    background: var(--act-color);
}